:root {
    --background-image: url("/assets/backgrounds/hero-light-mode.svg");
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-image: url("/assets/backgrounds/hero-dark-mode.svg");
    }
}

#hero-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0 var(--padding-large);
}

#hero-image {
    width: auto;
    height: auto;
    flex-basis: 40%;
    max-height: 100lvh;
}

#hero-heading {
    font-size: var(--font-size-xxxlarge);
}

#hero-text-container {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

#hero-summary {
    font-size: var(--font-size-medium);
}


@media only screen and (max-width: 800px) {
    #hero-section {
        display: block;
        padding: var(--padding-large);
    }

    #hero-image {
        max-width: 100%;
    }
}