:root {
    --background-image: url("/assets/backgrounds/hero-light-mode.svg");
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-image: url("/assets/backgrounds/hero-dark-mode.svg");
    }
}

#hero-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0 var(--padding-large);
}

#hero-section::before {
    content: "";
    box-shadow: 0 0 var(--padding-medium) var(--padding-medium) var(--background) inset;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 95dvh;
    background-image: var(--background-image);
    filter: opacity(0.6);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

#hero-image {
    width: auto;
    height: auto;
    flex-basis: 40%;
    max-height: 100dvh;
}

#hero-heading {
    font-size: var(--font-size-xxxlarge);
}

#hero-text-container {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

#hero-summary {
    font-size: var(--font-size-large);
}


@media only screen and (max-width: 800px) {
    #hero-section {
        display: block;
        padding: var(--padding-large);
    }

    #hero-image {
        max-width: 100%;
    }
}