body {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    background-color: var(--background);
    word-wrap: break-word;
}

p {
    color: var(--text);
    font-size: var(--font-size-base);
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: var(--text);
}

section {
    padding: var(--padding-large) var(--padding-xlarge);
}

@media only screen and (max-width: 768px) {
    section {
        padding: var(--padding-large) var(--padding-small);
    }
}

hr {
    color: var(--border);
}

.pill {
    padding: var(--padding-tiny) var(--padding-small);
    border-radius: calc(1px/0);
    font-size: small;
}

.ghost {
    border: 0.15rem solid var(--border);
}

.green-muted {
    color: var(--pill-text);
    background-color: var(--muted-green);
}

.red-muted {
    color: var(--pill-text);
    background-color: var(--muted-red);
}

.purple-muted {
    color: var(--pill-text);
    background-color: var(--muted-purple);
}

#skills-container {
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin-small);
    padding-bottom: var(--padding-large);
}