body {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    background-color: var(--background);
}

p {
    color: var(--muted-text);
}

a {
    text-decoration: none;
    color: var(--accent-blue);
}

a:hover {
    text-decoration: underline;
}

section {
    box-shadow: 0 4px 6px var(--shadow);
    padding: 20px;
    border-radius: 8px;
}