:root {
    --image-shadow-color: rgba(255, 255, 255, 0.85);
}

@media (prefers-color-scheme: dark) {
    :root {
        --image-shadow-color: rgba(0, 0, 0, 0.85);
    }
}

#project-articles-container {
    display: grid;
    /* 
        1. min(100%, var(--image-size-xxlarge)) -> return the smaller of these two values (on smaller devices, 100% will be smaller)
        2. minmax([1], 1fr) -> returns a value larger than [1] and less than or equal to 1 fraction of the grid
        3. repeat(auto-fit, [2]) -> create x columns for the grid based on the size from [2] and distribute unused columns amongst the used ones
    */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--image-size-xxlarge)), 1fr));
    gap: var(--margin-large);

}

.showcase-card {
    border-radius: var(--border-radius-medium);
    padding: var(--padding-large);
    overflow: hidden;
    box-shadow: var(--box-shadow-small);
    top: var(--margin-large);
    margin-top: var(--margin-large);
    width: 90%;
}

.showcase-card-button {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text);
    border-color: var(--text);
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}


.showcase-card-footer .showcase-card-button:not(:last-child) {
    margin-right: var(--margin-small);
    margin-bottom: var(--margin-small);
}

.showcase-card-button:hover {
    color: var(--text);
    box-shadow: var(--box-shadow-tiny);
    transition: all 0.3s ease;
}

.missing-link-button {
    z-index: 1;
    display: inline-block;
    transition: all 0.3s ease;
}

.showcase-card-image {
    width: 100%;
    aspect-ratio: 1.5/1;
    object-fit: cover;
    border-radius: var(--border-radius-small);
}

.showcase-card-content {
    max-width: max(var(--image-size-xxxxlarge), 100%);
}

.showcase-card-main {
    z-index: 1;
    transition: visibility 0.3s ease;
}

@media only screen and (max-height: 640px) {
    .showcase-card {
        position: relative;
    }
}

@media only screen and (max-width: 768px) {
    .showcase-card {
        padding: var(--padding-small);
    }

    .showcase-card-content {
        padding: var(--padding-tiny);
    }

}