/* Light Mode */
:root {
    /* COLORS (for light mode) */
    --background: #FFFFFF;
    --text: #333333;
    --inverted-text: #cccccc;
    --muted-text: #666666;
    --accent-blue: #0055FF;
    --border: #DDDDDD;
    --shadow: rgba(0, 0, 0, 0.1);

    --vibrant-red: #FF4C4C;
    --muted-red: #FFB3B3;
    --bright-green: #34D399;
    --muted-green: #A7E6D1;
    --bold-purple: #9B4DFF;
    --muted-purple: #D6A8FF;

    /* SPACING (for smallest devices) */
    --padding-tiny: 0.25rem;
    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 2rem;
    --padding-xlarge: 4rem;
    --padding-xxlarge: 8rem;
    --padding-xxxlarge: 16rem;

    --margin-tiny: 0.25rem;
    --margin-small: 0.5rem;
    --margin-medium: 1rem;
    --margin-large: 2rem;
    --margin-section: 4rem;

    --border-radius-tiny: 0.25rem;
    --border-radius-small: 0.5rem;
    --border-radius-medium: 1rem;
    --border-radius-large: 2rem;
    --border-radius-section: 4rem;

    /* FONT SIZING */
    --font-size-tiny: 0.25rem;
    --font-size-small: 0.5rem;
    --font-size-base: 1rem;
    --font-size-medium: 1.5rem;
    --font-size-large: 2rem;
    --font-size-xlarge: 3rem;
    --font-size-xxlarge: 4rem;
    --font-size-xxxlarge: 5rem;

    /* ICON SIZING */
    --icon-size-tiny: 0.25rem;
    --icon-size-small: 0.5rem;
    --icon-size-base: 1rem;
    --icon-size-medium: 1.5rem;
    --icon-size-large: 2rem;
    --icon-size-xlarge: 3rem;
    --icon-size-xxlarge: 4rem;
    --icon-size-xxxlarge: 5rem;

    --pill-text: #1f1f1f;

    --box-shadow-tiny: 0.125rem 0.125rem 0.5rem 0.0625rem var(--shadow);
    --box-shadow-small: 0.125rem 0.125rem 0.5rem 0.125rem var(--shadow);

    --image-size-large: 4rem;
    --image-size-xlarge: 8rem;
    --image-size-xxlarge: 22rem;
    --image-size-xxxlarge: 32rem;
    --image-size-xxxxlarge: 40rem;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        /* COLORS */
        --background: #121212;
        --text: #E0E0E0;
        --inverted-text: #1f1f1f;
        --muted-text: #B0B0B0;
        --accent-blue: #0055FF;
        --border: #333333;
        --shadow: rgba(0, 0, 0, 0.8);
    }
}

/* Medium devices */
@media only screen and (max-width: 1024px) {
    :root {
        /* FONT SIZING */
        --font-size-tiny: 0.25rem;
        --font-size-small: 0.5rem;
        --font-size-base: 1rem;
        --font-size-medium: 1.5rem;
        --font-size-large: 2rem;
        --font-size-xlarge: 3rem;
        --font-size-xxlarge: 3.5rem;
        --font-size-xxxlarge: 4rem;
    }
}

/* small devices */
@media only screen and (max-width: 768px) {
    :root {
        /* SPACING (for smallest devices) */
        --padding-tiny: 0.25rem;
        --padding-small: 0.5rem;
        --padding-medium: 1rem;
        --padding-large: 1.5rem;
        --padding-xlarge: 2rem;
        --padding-xxlarge: 3rem;
        --padding-xxxlarge: 6rem;

        --font-size-tiny: 0.125rem;
        --font-size-small: 0.25rem;
        --font-size-base: 1rem;
        --font-size-medium: 1.25rem;
        --font-size-large: 1.5rem;
        --font-size-xlarge: 2rem;
        --font-size-xxlarge: 3rem;
        --font-size-xxxlarge: 4rem;
    }
}

@media only screen and (max-width: 320px) {
    :root {

        /* SPACING */
        --padding-tiny: 0.25rem;
        --padding-small: 0.5rem;
        --padding-medium: 1rem;
        --padding-large: 1.25rem;
        --padding-xlarge: 1.5rem;
        --padding-xxlarge: 1.75rem;
        --padding-xxxlarge: 2rem;

        --margin-small: 0.25rem;
        --margin-medium: 0.5rem;
        --margin-large: 0.75rem;

        --border-radius-small: 0.125rem --border-radius-medium: 0.25rem;
        --border-radius-large: 0.5rem;

        --font-size-tiny: 0.125rem;
        --font-size-small: 0.25rem;
        --font-size-base: 1rem;
        --font-size-medium: 1.25rem;
        --font-size-large: 1.5rem;
        --font-size-xlarge: 1.75rem;
        --font-size-xxlarge: 2rem;
        --font-size-xxxlarge: 2.0625rem;
    }
}

/* Extra small devices (200px and down) */
@media only screen and (max-width: 200px) {
    :root {
        --font-size-tiny: 0.25rem;
        --font-size-small: 0.5rem;
        --font-size-base: 1rem;
        --font-size-medium: 1.0625rem;
        --font-size-large: 1.125rem;
        --font-size-xlarge: 1.25rem;
        --font-size-xxlarge: 1.5rem;
        --font-size-xxxlarge: 1.75rem;

    }
}