/* Light Mode */
:root {
    /* COLORS (for light mode) */
    --background: #FFFFFF;
    --text: #333333;
    --inverted-text: #cccccc;
    --muted-text: #666666;
    --accent-blue: #0055FF;
    --border: #DDDDDD;
    --shadow: rgba(0, 0, 0, 0.1);

    --vibrant-red: #FF4C4C;
    --muted-red: #FFB3B3;
    --bright-green: #34D399;
    --muted-green: #A7E6D1;
    --bold-purple: #9B4DFF;
    --muted-purple: #D6A8FF;

    /* SPACING (for smallest devices) */
    --padding-tiny: 4px;
    --padding-small: 8px;
    --padding-medium: 16px;
    --padding-large: 24px;
    --padding-section: 4px;

    --margin-small: 8px;
    --margin-medium: 16px;
    --margin-large: 24px;

    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 12px;

    /* FONT SIZING (for smallest devices) */
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 1.5rem;
    --font-size-xxlarge: 3rem;
    --font-size-xxxlarge: 4rem;

    /* ICON SIZING (for smallest devices) */
    --icon-size-small: 16px;
    --icon-size-medium: 24px;
    --icon-size-large: 32px;
    --icon-size-xlarge: 40px;

    --pill-text: #1f1f1f;

    --box-shadow-tiny: 0.125rem 0.125rem 0.5rem 0.0625rem var(--shadow);
    --box-shadow-small: 0.125rem 0.125rem 0.5rem 0.125rem var(--shadow);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        /* COLORS */
        --background: #121212;
        --text: #E0E0E0;
        --inverted-text: #1f1f1f;
        --muted-text: #B0B0B0;
        --accent-blue: #0055FF;
        --border: #333333;
        --shadow: rgba(0, 0, 0, 0.8);

        --vibrant-red: #FF4C4C;
        --muted-red: #FFB3B3;
        --bright-green: #34D399;
        --muted-green: #A7E6D1;
        --bold-purple: #9B4DFF;
        --muted-purple: #D6A8FF;

        --pill-text: #1f1f1f;
    }
}

/* Extra small devices (200px and down) */
@media only screen and (max-width: 200px) {
    :root {
        /* SPACING */
        --padding-tiny: 2px;
        --padding-small: 4px;
        --padding-medium: 8px;
        --padding-large: 12px;
        --padding-section: 4px;

        --margin-small: 4px;
        --margin-medium: 8px;
        --margin-large: 12px;

        --border-radius-small: 2px;
        --border-radius-medium: 4px;
        --border-radius-large: 8px;

        /* FONT SIZING */
        --font-size-small: 0.75rem;
        --font-size-base: 0.875rem;
        --font-size-large: 1rem;
        --font-size-xlarge: 1.125rem;
        --font-size-xxlarge: 1.25rem;
        --font-size-xxxlarge: 1.5rem;

        /* ICON SIZING */
        --icon-size-small: 8px;
        --icon-size-medium: 16px;
        --icon-size-large: 24px;
        --icon-size-xlarge: 32px;
    }
}


/* Extra small devices (phones, 320px and down) */
@media only screen and (min-width: 200px) {
    :root {
        /* SPACING */
        --padding-tiny: 4px;
        --padding-small: 8px;
        --padding-medium: 16px;
        --padding-large: 24px;
        --padding-section: 8px;

        --margin-small: 8px;
        --margin-medium: 16px;
        --margin-large: 24px;

        --border-radius-small: 4px;
        --border-radius-medium: 8px;
        --border-radius-large: 12px;

        /* FONT SIZING */
        --font-size-small: 0.8125rem;
        --font-size-base: 0.9375rem;
        --font-size-large: 1.125rem;
        --font-size-xlarge: 1.375rem;
        --font-size-xxlarge: 1.5rem;
        --font-size-xxxlarge: 1.75rem;
        /* ICON SIZING */
        --icon-size-small: 12px;
        --icon-size-medium: 20px;
        --icon-size-large: 28px;
        --icon-size-xlarge: 36px;
    }
}


/* small devices (phones, 320px and up) */
@media only screen and (min-width: 320px) {
    :root {
        /* SPACING */
        --font-size-base: 14px;
        --padding-tiny: 4px;
        --padding-small: 8px;
        --padding-medium: 16px;
        --padding-large: 20px;
        --padding-section: 8px;

        --margin-small: 8px;
        --margin-medium: 16px;
        --margin-large: 24px;

        --border-radius-small: 4px;
        --border-radius-medium: 8px;
        --border-radius-large: 12px;

        /* FONT SIZING */
        --font-size-small: 0.875rem;
        --font-size-base: 1rem;
        --font-size-large: 1.25rem;
        --font-size-xlarge: 1.5rem;
        --font-size-xxlarge: 1.875rem;
        --font-size-xxxlarge: 2.5rem;

        /* ICON SIZING */
        --icon-size-small: 16px;
        --icon-size-medium: 24px;
        --icon-size-large: 32px;
        --icon-size-xlarge: 40px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        /* SPACING */
        --font-size-base: 16px;
        --padding-tiny: 6px;
        --padding-small: 12px;
        --padding-medium: 18px;
        --padding-large: 24px;
        --padding-section: 64px;

        --margin-small: 12px;
        --margin-medium: 18px;
        --margin-large: 28px;

        --border-radius-small: 6px;
        --border-radius-medium: 10px;
        --border-radius-large: 14px;

        /* FONT SIZING */
        --font-size-small: 1rem;
        --font-size-base: 1.125rem;
        --font-size-large: 1.5rem;
        --font-size-xlarge: 1.875rem;
        --font-size-xxlarge: 2.5rem;
        --font-size-xxxlarge: 4rem;

        /* ICON SIZING */
        --icon-size-small: 20px;
        --icon-size-medium: 28px;
        --icon-size-large: 36px;
        --icon-size-xlarge: 48px;
    }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
    :root {
        /* SPACING */
        --font-size-base: 18px;
        --padding-tiny: 8px;
        --padding-small: 16px;
        --padding-medium: 24px;
        --padding-large: 32px;
        --padding-section: 192px;

        --margin-small: 16px;
        --margin-medium: 24px;
        --margin-large: 36px;

        --border-radius-small: 8px;
        --border-radius-medium: 12px;
        --border-radius-large: 16px;

        /* FONT SIZING */
        --font-size-small: 1.125rem;
        --font-size-base: 1.25rem;
        --font-size-large: 1.75rem;
        --font-size-xlarge: 2.125rem;
        --font-size-xxlarge: 3rem;
        --font-size-xxxlarge: 5rem;

        /* ICON SIZING */
        --icon-size-small: 24px;
        --icon-size-medium: 32px;
        --icon-size-large: 40px;
        --icon-size-xlarge: 56px;
    }
}